@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --body-color: #ffffff;
    --subtitle-color: #00bf9f;
    --main-font: 'Poppins', sans-serif;
    --headings-text-color: #262728;
    --main-text-color: #585858;
    --border-color: #e0e1e2;
    --border: 1.5px solid var(--border-color);
    --subtitle-font-size: 0.9em;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--body-color);
    font-family: var(--main-font);
    color: var(--headings-text-color);
}

/* styles for scrollbar*/
::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {
    background: #ddd;
}

h1{
    font-size: 3.5em;
}
/* end of styles for scrollbar*/

@media (max-width: 1013px) {
    body .header{
        position: fixed;
        padding-top: 0px;
    }
    .header .header-nav{
        border-radius: 0px;
        width: 100%;
        height: 80px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 30px;
    }
    .header-nav-menu{
        display: flex;
    }
   
    .menu-btn{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        border: 1px solid var(--border-color);
        border-radius: 50%;
    }
    .menu-btn span{
        width: 22px;
        height: 2px;
        margin: 3px;
        background-color: var(--headings-text-color);
    }
    .menu-btn span:nth-of-type(2){
        width: 12px;
    }

}


/* style for header*/
.header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    z-index: 2;
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: 80px;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 30px;
    box-shadow: 0px 0px 35px -7px rgba(34, 60, 80, 0.2);
    transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.header-nav-logo {
    display: flex;
}

.header-nav-logo__text{
    text-decoration: none;
    color: var(--headings-text-color);
    font-weight: 700;
    padding-left: 10px;
    padding-top: 1px;
}

.header-nav-logo__img{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
}

.site-nav{
    display: flex;
    list-style: none;
}

.site-nav__link{
    text-decoration: none;
    color: var(--headings-text-color);
    font-weight: 700;
    margin-left: 30px;
    margin-top: 7px;
    font-size: 0.8em;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

/* animation for menu links */
.site-nav__link::before,
.site-nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  
}

.site-nav__link::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(100%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: var(--subtitle-color);
}

.site-nav__link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(0);
}
a:hover::after {
  transform: translate3d(0, 0, 0);
}

.site-nav__link span {
  display: inline-block;
  transition: .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.site-nav__link:hover span {
  transform: translate3d(-200%, 0, 0);
}
/* end of animation */

@media (max-width: 1013px) {
    body .main{
        display: flex;
        flex-direction: column;
        
    }
    body .section1{
        position: relative;
        background-image: url(./img/background-2.jpg);
        background-size: cover;
        background-position: center 25%;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;
        
    }
    body .section2{
        position: relative;
        width: 100%;
        margin-left: 0%;
        height: 100vh;
        padding-top: 0%;
        margin-top: -100vh;
    }
    body .section2__top{
        display: none;
        
    }
    
    body .section3{
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 92.7%;
        border-left: var(--border);
        height: 100%;
        z-index: 1;
        width: 7.2%;
    }
}    

@media (min-width: 1281px) {
    body .section1{
        background-image: url(./img/background.jpg);
        background-size: cover;
        background-position: center 0vh;
        background-repeat: no-repeat;
        width: 45%;
        height: 100%;
    }
    body .section2{
        width: 47.7%;
        margin-left: 45%;
        
    }
    
}    

.main{
    display: flex;
    flex-direction: row;
}
.section1{
    position: fixed;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position: center center;
    width: 30%;
    height: 100%;
}
.section2{
    width: 62.7%;
    margin-left: 30%;
    height: 100vh;
    padding-top: 5%;
}
.section2__top{
    position: fixed;
    width: 70%;
    height: 60px;
    background-color: var(--body-color);
    z-index: 1;
    margin-top: -5%;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 92.7%;
    border-left: var(--border);
    height: 100%;
    z-index: 1;
    width: 7.2%;
}
.icon{
    display: flex;
    justify-content: center;
    position: fixed;
}
.icon-one{
    bottom: 0;
    padding-bottom: 190px;
}
.icon-two{
    bottom: 0;
    padding-bottom: 120px;
}
.icon-three{
    bottom: 0;
    padding-bottom: 50px;
}
.icon a{
    background-position: 15.7px center;
    background-repeat: no-repeat;
    background-size: 18px;
    padding: 25px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: 0.3s;
}
.icon1{
    background-image: url(./img/instagram_black.svg);
}
.icon1:hover{
    background-image: url(./img/instagram_green.svg);
}

.icon2{
    background-image: url(./img/facebook_black.svg);
}
.icon2:hover{
    background-image: url(./img/facebook-green.svg);
}

.icon3{
    background-image: url(./img/telegram-black.svg);
}
.icon3:hover{
    background-image: url(./img/telegram-green.svg);
}

@media (max-width: 1013px) {
    .section2 .section-home{
        height: 85vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 89.8vh;
    }
    .section2 .home-button {
       
    }    
    .section-home .link-one{
        
        
    }
}    


/* home section*/
.section-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}

.home-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 3em;
}
.home-bio{
    color: var(--main-text-color);
    padding-top: 10px;
    width: 70%;
    font-size: 0.9em;
}

.home-button {
    overflow: hidden;
    position: relative;
    display: inline-block;
    z-index: 0;
    color: var(--headings-text-color);
    font-weight: 700;
    font-size: 0.8em;
    border: 1px solid var(--border-color);
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    margin-top: 30px;
    transition: .3s;
    
}
/* animation for button */
.home-button::before,
.home-button::after {
   content: '';
    position: absolute;
    left: 0;
    padding: 20px 40px 20px 40px;
}

.home-button::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--subtitle-color);
}
  
.home-button:hover::after {
    transform: translate3d(0, 0, 0);
}
  
.home-button span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.home-button:hover span {
    transform: translate3d(-200%, 0, 0);
}
.home-button:hover{
    border: 1px solid var(--subtitle-color)
}
/* end of animation */


.link-to-menu{
    height: 1px;
    background-color: #262728;
}



@media (max-width: 1013px) {
    .section2 .section-about{
        height: 90vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
        
    }
    .section2 .about-title{
        padding-top: 17vh;
    }
    .section2 .link-two{
        margin-top: 17vh;
    }
}    

/* about section */
.section-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.about-title{
    font-size: 3em;
    margin-top: -1%;
}
.about-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
}
.about-bio{
    color: var(--main-text-color);
    padding-top: 10px;
    font-size: 0.9em;
    padding-top: 50px;
}

@media (max-width: 1013px) {
    .section2 .section-skills{
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 5vh;
    }
    .section2 .skills-title{
        padding-top: 7vh;
    }
    .section2 .link-three{
        margin-top: 7vh;
    }
}    

/* skills section */
.section-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.skills-title{
    font-size: 3em;
    margin-top: 10%;
}
.skills-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
    padding-bottom: 60px;
}

.skills-circles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}
  
.circular-chart {
    width: 100px;
    height: 100px;
}
  
.circle-bg {
    fill: none;
    stroke: #eeeeee;
    stroke-width: 2.8;
}
  
.circle {
    fill: none;
    stroke-width: 1.8;
    stroke-linecap: round;
}
    
.circular-chart .circle {
    stroke: var(--subtitle-color);
}
    
.percentage {
    fill: var(--headings-text-color);
    font-size: 0.4em;
    text-anchor: middle;
    font-family: var(--main-font);
}

.chart-title{
    font-size: 1.1em;
    font-weight: 700;
    padding-top: 15px;
    
}
.single-chart:nth-of-type(1){
    padding-bottom: 60px;
}

.link-three{
    margin-bottom: 70px;
}

@media (max-width: 1013px) {
    .section2 .section-projects{
        height: 100vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 2vh;
    }
    .section2 .project{
        width: 80%;
    }
    .section2 .projects-title{
        padding-top: 7vh;
    }
    .section2 .link-four{
        margin-top: 7vh;
    }
}   

/* projects section */
.section-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.projects-title{
    font-size: 3em;
    
}
.projects-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
    padding-bottom: 60px;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.projects-wrapper{
    display: flex;
    flex-direction: column;
}
.project{
    position: relative;
    width: 90%;
    overflow: hidden;
    border-radius: 20px;
}
.project-img{
    width: 100%;
    display: block;
    border-radius: 20px;
    transition: .3s;
    
}
.project-img:hover{
   transform: scale(1.4);
   color: var(--subtitle-color);    
}

.project-name{
    font-size: 1.1em;
    font-weight: 700;
    padding-top: 25px;
    transition: .3s;
}

.project:hover ~ .project-name {
    color: var(--subtitle-color);
}

@media (max-width: 1013px) {
    .section2 .section-languages{
        height: 115vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 2vh;
    }
    .section2 .languages-title{
        padding-top: 7vh;
    }
    .section2 .link-five{
        margin-top: 7vh;
    }
}  

/*languages section*/
.section-languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 122vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.languages-title{
    font-size: 3em;
}
.languages-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
    padding-bottom: 50px;
}

.languages-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.language:nth-of-type(3){
    margin-top: 30px;
}

.language-name{
    font-size: 1.1em;
    font-weight: 700;
    padding-bottom: 30px;
}

.language-bio{
    color: var(--main-text-color);
    width: 85%;
    font-size: 0.9em;
    padding-bottom: 30px;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4.1%;
}
.green{
    background-color: var(--subtitle-color);
}
.grey{
    background-color: #e0e1e2;
}

@media (max-width: 1013px) {
    .section2 .section-education{
        height: 90vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 2vh;
    }
    .section2 .education-title{
        padding-top: 8vh;
    }
    .section2 .link-six{
        margin-top: 8vh;
    }
}   

/* education section */
.section-education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.education-title{
    font-size: 3em;
    margin-top: 2%;
}
.education-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
    padding-bottom: 60px;
}

.education-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.education-place{
    display: flex;
    flex-direction: column;
}
.education-header{
    display: flex;
    padding-bottom: 20px;
}
.educayion-years{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 0.7em;
    font-weight: 600;
    color: var(--subtitle-color);
    margin-left: -4px;
}
.education-name{
    font-size: 1.1em;
    font-weight: 700;
    width: 60%;
    margin-top: -6.5px;
    padding-left: 20px;
}
.education-description{
    color: var(--main-text-color);
    width: 70%;
    font-size: 0.9em;
    
}

@media (max-width: 1013px) {
    .section2 .section-code{
        height: 90vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
       
    }
    .section2 .code-blcok{
        width: 60%;
    }
    .section2 .code-title{
        padding-top: 10vh;
    }
    .section2 .link-seven{
        margin-top: 10vh;
    }
}   

/* code section */
.section-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.code-title{
    font-size: 3em;
    margin-top: -2.5%;
}
.code-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
    padding-bottom: 50px;
}
.code-blcok{
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
    color: #ffffff;
}
.c_dark-blue{
    color: #4c85d0;
}
.c_yellow{
    color: #dcdcaf;
}
.c_dark-yellow{
    color: #ebc345;
}
.c_light-blue{
    color: #a7d8f9;
}
.c_blue{
    color: #68b5f3;
}
.c_pink{
    color: #da76e1;
}
.c_orange{
    color: #c38a5e;
}
.c_light-pink{
    color: #bc89bd;
}

@media (max-width: 1013px) {
    .section2 .section-contacts{
        height: 90vh;
        padding-left: 2.5%;
        padding-right: 2.5%;
        
    }
    
    
}  

/* contacts section */
.section-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    border-bottom: var(--border);
    padding-left: 7%;
    padding-right: 7%;
}
.contacts-title{
    font-size: 3em;
    margin-top: -5%;
}
.contacts-subtitle{
    font-weight: 600;
    font-size: var(--subtitle-font-size);
    color: var(--subtitle-color);
    line-height: 2em;
    padding-bottom: 50px;
}
.contacts-block{
    display: flex;
}

.contacts-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    line-height: 2em;
}

.contact-title{
    font-size: 0.9em;
    font-weight: 600;
    color: var(--subtitle-color);
}
.contact{
    font-size: 0.9em;
    font-weight: 600;
    color: var(--main-text-color);
    
}
.contact a{
    text-decoration: none;
    color: var(--main-text-color);
}
.cont__1{
    margin-left: -85px;
}
.cont__2{
    margin-left: -75px;
}

/* footer */
.footer{
    display: flex;
    justify-content: space-around;
    
    height: 70px;
    background-color: var(--border-color);
}
.creator{
    display: flex;
    align-items: center;
    color: var(--headings-text-color);
}
.rs-logo{
    width: 100px;
    background-image: url(./img/rs-school-black.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center center;
    transition: 0.3s;
}
.github{
    width: 100px;
    background-image: url(./img/github-black.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center center;
    transition: 0.3s;
}
.rs-logo:hover{
    background-image: url(./img/rs-school-green.svg);
}
.github:hover{
    background-image: url(./img/github-green.svg);
}